.banner {
	color: $color-text-light;
	display: grid;
	gap: 4rem;
	padding-bottom: 2.6rem;
	background: rgb(2, 0, 36);
	background: linear-gradient(122deg, rgba(2, 0, 36, 1) 0%, rgba(203, 35, 112, 1) 0%, rgba(228, 160, 34, 1) 100%, rgba(243, 150, 84, 1) 100%);

	&-header {
		display: grid;
		grid-template-columns: 1fr 30rem 1fr;

		@include bp-max(md) {
			grid-template-columns: 1fr 1fr;
		}

		@include bp-max(xs) {
			grid-template-columns: 1fr;
		}

		justify-content: space-between;
		gap: 5rem;

		&__logo {
			display: flex;
			flex-direction: column;
			text-align: center;
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.6rem;
		}

		img {
			width: 30rem;

			@include bp-max(xs) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__text {
			font-size: 2.6rem;
			font-weight: 700;

			@include bp-max(md) {
				font-size: 2.4rem;
			}
		}
	}

	&-footer {
		display: grid;
		gap: 1rem;
		grid-template-columns: 35% 65%;
		align-items: flex-end;

		@include bp-max(xs) {
			grid-template-columns: 1fr;

			&__text {
				order: 1;
			}
		}

		&__text {
			font-size: 1.2rem;
		}
	}
}

.crown {
	display: flex;
	gap: 1rem;
	align-items: center;

	@include bp-max(xs) {
		order: 2;
	}
}
