.countdown {
	display: flex;
	justify-content: center;
	gap: 20px;

	div {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
		width: 90px;
		height: 90px;
		border-radius: 5px;

	}

	div span:last-of-type {
		font-size: 12px;
	}



	.number {
		font-weight: 500;
		font-size: 44px;
		color: $color-primary;
	}
}

@media screen and (max-width:600px) {
	.countdown {
		gap: 10px;
		>div {
			@media (max-width:360px) {
				width: 100%;
				gap: 5px;
			}
		}
	}
}
