.games {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(16.9rem, 1fr));
}

.game {
	cursor: pointer;
	border-radius: 2rem;
	aspect-ratio: 1;
	overflow: hidden;
	position: relative;
	box-shadow: 0 1rem 1rem .5rem rgba(79, 81, 100, 0.25);
	transition: ease-in 0.1s;
	transform: scale(1);
	transition: $transition;
	&__jackpot {
		position: absolute;
		top: 15px;
		left: 15px;
		color: #fff;
		display: flex;
		text-shadow: 2px 2px 3px #000;
		flex-direction: column;
		font-weight: 600;
		// background: rgba(0,0,0,0.5);
		padding: 10px;
		border-radius: 6px;
		span {
			font-size: 12px;
		}
		span:last-child {
			font-size: 21px;
		}
	}

	&:hover {
		transform: scale(1.05);
	}

	img {
		height: 100%;
		object-fit: cover;
	}
}
