.games {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(16.9rem, 1fr));
}

.game {
	cursor: pointer;
	border-radius: 2rem;
	aspect-ratio: 1;
	position: relative;
	box-shadow: 0 1rem 1rem .5rem rgba(79, 81, 100, 0.25);
	transition: ease-in 0.1s;
	transform: scale(1);
	transition: $transition;
	display: flex;


	&__jackpot {
		position: absolute;
		color: #fff;
		display: flex;
		font-weight: 600;
		align-items: center;
		justify-content: space-between;
		width: calc(100% - 20px);
		border-radius: 6px;

		background: $color-primary;
		top: -40px;
		bottom: auto;
		left: 10px;
		padding: 3px 10px;

		span {
			font-size: 12px;
		}

		span:last-child {
			font-size: 18px;
		}
	}

	&:hover {
		transform: scale(1.05);
	}

	img {
		height: 100%;
		border-radius: 20px;
		object-fit: cover;
	}
}
