// remove this
.wrapper {
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 11.5rem;
	z-index: 9;

	&::before {
		content: 'v1.0.3';
		position: fixed;
		right: 20px;
		top: 20px;
		color: $color-primary;
		z-index: 10;
		background: #fff;
		border-radius: 20px;
		padding: 10px 20px;
		font-weight: 700;
		border: 2px solid $color-primary;
	}
}

.footer {
	height: 500px;
}

.footer,
.header {
	img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
}

// remove this
