@import 'utils/normalise';
@import 'utils/vars';
@import 'utils/scroll';

@import 'base';
@import 'remove';
@import 'banner';
@import 'countdown';
@import 'games';


.card {
	background: #FFFFFF;
	box-shadow: 0 2rem 3rem 1rem rgba(79, 81, 100, 0.25);
	border-radius: 2rem;
	padding: 3.2rem;
}

.btn {
	border: 0;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	padding: 16px 32px;
	background: $color-primary;
	box-shadow: 0px 3px 10px $color-primary;
	border-radius: 55px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	transition: $transition;

	&:hover {
		background: darken($color-primary, 5%);
	}
}
.row {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;

	.card {
		flex: 1 1 calc(50% - 20px);

		@media (max-width:768px) {
			flex: 1 1 100%;
		}
	}
}


.action {
	display: grid;
	gap: 20px;
	place-items: center;
	font-size: 16px;
	text-align: center;

	span {
		font-weight: 500;
	}
}
