@import 'utils/normalise';
@import 'utils/vars';
@import 'utils/media';
@import 'utils/scroll';

@import 'base';



.card {
	background: #FFFFFF;
	box-shadow: 0 2rem 3rem 1rem rgba(79, 81, 100, 0.25);
	border-radius: 2rem;
	padding: 3.2rem;
}

.btn {
	border: 0;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	padding: 1.6rem 3.2rem;
	background: $color-primary;
	box-shadow: 0 0.3rem 1rem $color-primary;
	border-radius: 5.5rem;
	color: #fff;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.2;
	transition: $transition;

	&:hover {
		background: darken($color-primary, 5%);
	}
}
.row {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	flex-wrap: wrap;

	.card {
		flex: 1 1 calc(50% - 2rem);

		@include bp-max(sm){
			flex: 1 1 100%;
		}
	}
}
@import 'banner';
@import 'countdown';
@import 'games';


.action {
	display: grid;
	gap: 2rem;
	place-items: center;
	font-size: 1.6rem;
	text-align: center;

	span {
		font-weight: 500;
	}
}
