*::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background-color: #fff;
}
* ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 .6rem $color-primary;
    background-color: $color-primary;
}
